[世界服务器]  
  
###################################################################################################  
# Azerothcore 种族额外天赋 NPC
#####################################  
#  
# Azerothcore 种族特性 NPC 费用  
# 你可以支付一定费用，将当前的种族额外天赋为另一种族的特性。
#  
# 艾泽拉斯核心.Racial.Trait.Swap.Announce.enable  
#        描述: 当玩家登录时，公布模块信息。
#        默认值： 0 - （禁用） 
# 1 - （启用） 
  
Azerothcore.Racial.Trait.Swap.Announce.enable = 0  
  
#  
# 种族特征.Swap.Gold  
#        描述: 种族额外天赋所需的金币费用。
#        默认值： 0 - （零金币，免费） 
# 10 - （十金币费用） 
  
Racial.Traits.Swap.Gold = 10  
  
#  
#######################################################################################################
